/* Reset & base styles */
body {
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

/* Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 400px;
  background-color: #111111;
  color: #fff8fa;
  padding: 40px 40px;
  flex-shrink: 0;
}

.sidebar ul li a[href$=".pdf"] {
  font-size: 26px;
  color: #ffe2e2; 
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 44px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #f6f5f0;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar-image {
  width: 90%;            
  height: 350px;    
  object-fit: cover; 
  object-position: bottom;
  border-radius: 8px;      
  margin-bottom: 20px;
  display: block;
   margin-left: auto;
  margin-right: auto;
}



/* Main Content */
.content {
  flex-grow: 1;
  padding: 100px 100px;
  background-color: #fff8fa;
  color: #111111;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;         /* Stack content vertically */
    align-items: center;
    text-align: center;
  }

  .sidebar-image {
    max-width: 60%;
    max-height: 280px; 
    object-fit: cover; 
  object-position: bottom;
    margin-bottom: 10px;
  }

  .sidebar h2 {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;        /* Stack links vertically */
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebar ul li {
    margin: 0;
  }

  .sidebar ul li a {
    font-size: 16px;
  }

  .content {
    padding: 20px;
  }
}

.content a {
  color: #ff3b89;
  text-decoration: underline;
}


.content a:hover {
  color: #90525f;
}

