/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

/* Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 360px;
  background-color: #402d33;
  color: #fff3f3;
  padding: 20px;
  flex-shrink: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff3f3;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar-image {
  width: 100%;            
  height: auto;            
  border-radius: 8px;      
  margin-bottom: 20px;
  display: block;
}



/* Main Content */
.content {
  flex-grow: 1;
  padding: 60px;
  background-color: #fff6f9;
  color: #402d33;
}
